/*  your css code here. If applicable */
.hero{
	display:inline-block;
	justify-content:center;
	align-items:auto;
}
img{
	width:500px;
	height:300px;
	object-fit:cover;
}
#b{
	text-decoration:none;
	style-type:none;
	background-color:red;
	color:white;
	padding:10px;
	border: 1px white;
	cursor:pointer;
	
}